<% layout('layouts/boilerplate')%> 

<div>
    <h2>REGISTRATION FORM</h2>
    <form action='/user/register' method="POST" class="validated-form" novalidate>
        <label  for="username" > NEW USER NAME:</label>
        <input type="text" id="username" name=username required>

        <label for="password">NEW PASSWORD:</label>
        <input type="password" id="password" name=password required>

        <label for="email"> EMAIL: </label>
        <input type="email" id="email" name=email required>
        <button class="btn btn-success ">REGISTER</button>
    </form>
</div>
